@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;600&display=swap");

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  margin-top: 2em;
}

p {
  font-size: 3em;
  color: #bdbdbd;
}

h4 {
  color: navy;
}

.desc {
  border-top: 1px solid #273349;
  color: #273349;
  font-size: small;
  padding: 20px 0px;
  text-align: left;
  max-height: 250px;
  overflow: scroll;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 8em;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-title {
  margin: auto;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 940px;
  margin: auto;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 10px #fff;
  overflow: hidden;
  width: 300px;
  color: #444;
  border: 3px solid lightgray;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  min-height: 250px;
}

.card-body h4 {
  margin: 10px 0;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

.tag {
  background: #777;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
}

.tag-teal {
  background-color: #92d4e4;
}

.tag-purple {
  background-color: purple;
}

.tag-pink {
  background-color: pink;
}

.tag-red {
  background-color: #b30000;
}

.user {
  display: flex;
  margin-top: auto;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info h5 {
  margin: 0;
}

.user-info small {
  color: #888785;
}

@media (max-width: 940px) {

  .cards-container {
      grid-template-columns: 1fr;
      justify-items: center;
  }

  .header-title {
    margin: auto;
  }

  p {
    font-size: 16px;
  }
}

.search {
  width: 100%;
  height: 3.5rem;
  background: #282c34;
  color: #fff;
  font-size: 1.5rem;
  border: 1px greenyellow solid;
  border-radius: 4px;
  padding: 10px 0 10px 50px;
  margin-bottom: 1em;
}