@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;600&display=swap");

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 3em;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  background-color: #273349;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(12, 16, 31, 0.4);
  padding: 100px;
  margin: auto;
  width: 1000px;
}

.header-title {
  margin: auto;
}

table {
  color: #e2e2e2;
  padding: 10px;
  width: 100%;
}

table th,
table td {
  padding: 15px;
  text-align: left;
}

table tbody tr {
  background-color: #1c223b;
}

table tbody tr:hover {
  background-color: #151b31;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

table tbody tr td:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

table tbody tr td:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}

table tbody tr.priority-200 td:first-of-type {
  border-left: 5px solid #9c7c64;
}

table tbody tr.priority-600 td:first-of-type {
  border-left: 5px solid #fc8cdc;
}

table tbody tr.priority-300 td:first-of-type {
  border-left: 5px solid #40c587;
}

table tbody tr td .fa-circle {
  transform: scale(0.5);
}

table tbody tr.priority-200 td .fa-circle {
  color: #9c7c64;
}

table tbody tr.priority-600 td .fa-circle {
  color: #fc8cdc;
}

table tbody tr.priority-300 td .fa-circle {
  color: #40c587;
}

.delete {
  cursor: pointer;
  background-color: #242c4c;
  border: 0;
  border-radius: 2px;
  color: #909090;
  font-size: 16px;
  padding: 5px 10px;
  opacity: 0;
}

table tbody tr:hover .delete {
  opacity: 1;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 940px;
  margin: auto;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  color: #444;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  min-height: 250px;
}

.card-body h4 {
  margin: 10px 0;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

.tag {
  background: #777;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
}

.tag-teal {
  background-color: #92d4e4;
}

.tag-purple {
  background-color: purple;
}

.tag-pink {
  background-color: pink;
}

.user {
  display: flex;
  margin-top: auto;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info h5 {
  margin: 0;
}

.user-info small {
  color: #888785;
}

@media (max-width: 940px) {
  .container {
      grid-template-columns: 1fr;
      justify-items: center;
  }
}